# Imports

In [202]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
from datetime import datetime

In [203]:
# Import Distributed Price Data, Weather Data, NG prices 
distributed_prices = pd.read_csv(r"C:\Users\Zach Barrera\Documents\Zach\Springboard\Springboard\MexicoPowerPrices\DistributedPrices.csv")

weather_data = pd.read_csv(r"C:\Users\Zach Barrera\Documents\Zach\Springboard\Springboard\MexicoPowerPrices\MexicoWeatherData.csv")

ng_prices = pd.read_csv(r"C:\Users\Zach Barrera\Documents\Zach\Springboard\Springboard\MexicoPowerPrices\NGprices.csv")

# Lets take a look at the data

In [204]:
#Lets start with Distributed Data
distributed_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179227 entries, 0 to 179226
Data columns (total 7 columns):
2016-02-05     179227 non-null object
20             179227 non-null int64
GUADALAJARA    179227 non-null object
784.4900       179227 non-null float64
748.0300       179227 non-null float64
25.0300        179227 non-null float64
11.4300        179227 non-null float64
dtypes: float64(4), int64(1), object(2)
memory usage: 9.6+ MB

In [205]:
distributed_prices.head()

   2016-02-05  20  GUADALAJARA  784.4900  748.0300  25.0300  11.4300
0  2016-02-05  20    MONTERREY    575.21    748.03   -62.02  -110.80
1  2016-02-05  20      VDM SUR    765.12    748.03    21.20    -4.11
2  2016-02-05  21    CHIHUAHUA    632.40    745.34   -74.92   -38.02
3  2016-02-05  21  GUADALAJARA    789.74    745.34    31.91    12.48
4  2016-02-05  21    MONTERREY    566.03    745.34   -58.33  -120.99

In [206]:
# It looks like we are missing column names
distributed_prices.columns=['Date','Hour','Zone','LMP','Energy_LMP','Loss_LMP','Congestion_LMP']

In [207]:
distributed_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179227 entries, 0 to 179226
Data columns (total 7 columns):
Date              179227 non-null object
Hour              179227 non-null int64
Zone              179227 non-null object
LMP               179227 non-null float64
Energy_LMP        179227 non-null float64
Loss_LMP          179227 non-null float64
Congestion_LMP    179227 non-null float64
dtypes: float64(4), int64(1), object(2)
memory usage: 9.6+ MB

In [208]:
distributed_prices.head()

         Date  Hour         Zone     LMP  Energy_LMP  Loss_LMP  Congestion_LMP
0  2016-02-05    20    MONTERREY  575.21      748.03    -62.02         -110.80
1  2016-02-05    20      VDM SUR  765.12      748.03     21.20           -4.11
2  2016-02-05    21    CHIHUAHUA  632.40      745.34    -74.92          -38.02
3  2016-02-05    21  GUADALAJARA  789.74      745.34     31.91           12.48
4  2016-02-05    21    MONTERREY  566.03      745.34    -58.33         -120.99

In [209]:
#Lets look at our weather data
weather_data.head()

,STATION,DATE,NAME,LATITUDE,LONGITUDE,ELEVATION,SOURCE,REPORT_TYPE,CALL_SIGN,QUALITY_CONTROL,TMP,WND
0,76393099999,2016-01-01T15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,"+0084,1","060,1,N,0010,1"
1,76393099999,2016-01-01T18:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,"+0082,1","020,1,N,0010,1"
2,76393099999,2016-01-02T15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,"+0060,1","040,1,N,0010,1"
3,76393099999,2016-01-02T21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,"+0070,1","120,1,N,0010,1"
4,76393099999,2016-01-03T03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,"+0060,1","050,1,N,0010,1"

In [210]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44789 entries, 0 to 44788
Data columns (total 12 columns):
STATION            44789 non-null int64
DATE               44789 non-null object
NAME               44789 non-null object
LATITUDE           44789 non-null float64
LONGITUDE          44789 non-null float64
ELEVATION          44789 non-null int64
SOURCE             44789 non-null int64
REPORT_TYPE        44789 non-null object
CALL_SIGN          44789 non-null int64
QUALITY_CONTROL    44789 non-null object
TMP                44789 non-null object
WND                44789 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 4.1+ MB

In [211]:
#The only data I really need is TMP, date, and station name to link to the Pricing zone
#I am going to start by converting the TMP column to something useful
weather_data['TMP'] = [i[1:-2] for i in weather_data['TMP']]

In [212]:
weather_data.head()

,STATION,DATE,NAME,LATITUDE,LONGITUDE,ELEVATION,SOURCE,REPORT_TYPE,CALL_SIGN,QUALITY_CONTROL,TMP,WND
0,76393099999,2016-01-01T15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,0084,"060,1,N,0010,1"
1,76393099999,2016-01-01T18:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,0082,"020,1,N,0010,1"
2,76393099999,2016-01-02T15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,0060,"040,1,N,0010,1"
3,76393099999,2016-01-02T21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,0070,"120,1,N,0010,1"
4,76393099999,2016-01-03T03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,0060,"050,1,N,0010,1"

In [213]:
weather_data['TMP'] = weather_data['TMP'].astype(int)

In [214]:
def cel_to_fahr(temp_cel):
    temp_fahr = ((temp_cel / 10) * (9/5)) + 32
    return temp_fahr
weather_data['TMP'] = cel_to_fahr(weather_data['TMP'])
weather_data.head()

,STATION,DATE,NAME,LATITUDE,LONGITUDE,ELEVATION,SOURCE,REPORT_TYPE,CALL_SIGN,QUALITY_CONTROL,TMP,WND
0,76393099999,2016-01-01T15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,47.12,"060,1,N,0010,1"
1,76393099999,2016-01-01T18:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,46.76,"020,1,N,0010,1"
2,76393099999,2016-01-02T15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,42.80,"040,1,N,0010,1"
3,76393099999,2016-01-02T21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,44.60,"120,1,N,0010,1"
4,76393099999,2016-01-03T03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,515,4,FM-12,99999,V020,42.80,"050,1,N,0010,1"

In [215]:
#TMP column now looks good. I want to drop all of the columns that I dont wanna use. 
#But first want to check them out and see if they have any interesting data 

weather_data.SOURCE.value_counts()

4    44789
Name: SOURCE, dtype: int64

In [216]:
weather_data.REPORT_TYPE.value_counts()

FM-12    44789
Name: REPORT_TYPE, dtype: int64

In [217]:
weather_data.CALL_SIGN.value_counts()

99999    44789
Name: CALL_SIGN, dtype: int64

In [218]:
weather_data.QUALITY_CONTROL.value_counts()

V020    44789
Name: QUALITY_CONTROL, dtype: int64

In [219]:
weather_data.ELEVATION.value_counts()

1433    12923
1551    11503
2303    10741
515      9622
Name: ELEVATION, dtype: int64

In [220]:
weather_data = weather_data.drop(['ELEVATION','SOURCE','REPORT_TYPE','CALL_SIGN','QUALITY_CONTROL','WND'], axis = 1)

In [221]:
weather_data.NAME.value_counts()

CHIHUAHUA CHIH., MX        12923
GUADALAJARA JAL., MX       11503
MEXICO CENTRAL D.F., MX    10741
MONTERREY N.L., MX          9622
Name: NAME, dtype: int64

In [222]:
distributed_prices.Zone.value_counts()

MONTERREY      44807
VDM SUR        44807
CHIHUAHUA      44807
GUADALAJARA    44806
Name: Zone, dtype: int64

In [223]:
#Now I want to create a column that matches the weather data station names to the pricing zone names
#weather_data['NAME'] = weather_data['NAME'].astype(str)
def label_zone (name):
    if name == 'CHIHUAHUA CHIH., MX':
        return ('CHIHUAHUA')
    if name == 'GUADALAJARA JAL., MX':
        return ('GUADALAJARA')
    if name == 'MEXICO CENTRAL D.F., MX':
        return ('VDM SUR')
    if name == 'MONTERREY N.L., MX':
        return ('MONTERREY')
    else:
        return ('None')
weather_data['Zone'] = weather_data['NAME'].apply(lambda x: label_zone(x))
weather_data.head()

,STATION,DATE,NAME,LATITUDE,LONGITUDE,TMP,Zone
0,76393099999,2016-01-01T15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,47.12,MONTERREY
1,76393099999,2016-01-01T18:00:00,"MONTERREY N.L., MX",25.733333,-100.3,46.76,MONTERREY
2,76393099999,2016-01-02T15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY
3,76393099999,2016-01-02T21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,44.60,MONTERREY
4,76393099999,2016-01-03T03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY

In [224]:
weather_data.Zone.value_counts()

CHIHUAHUA      12923
GUADALAJARA    11503
VDM SUR        10741
MONTERREY       9622
Name: Zone, dtype: int64

In [225]:
#Going to take a look at Natural Gas Prices before messing with dates and trying to merge data
ng_prices.head()

,Price index,Price date,Average Price,Open price,High price,Low price,Actual status
0,GD Henry Hub,1/1/2016 12:00:00 AM,2.310,0.0,2.330,2.290,ACTUAL
1,GD Houston ShipChl,1/1/2016 12:00:00 AM,2.290,0.0,2.295,2.285,ACTUAL
2,GD Waha,1/1/2016 12:00:00 AM,2.395,0.0,2.420,2.370,ACTUAL
3,GD Henry Hub,1/2/2016 12:00:00 AM,2.310,0.0,2.330,2.290,ACTUAL
4,GD Houston ShipChl,1/2/2016 12:00:00 AM,2.290,0.0,2.295,2.285,ACTUAL

In [226]:
# I want to drop Open High Low and Actual columns
ng_prices = ng_prices.drop(['Open price','High price','Low price','Actual status'], axis = 1)
ng_prices.head()

          Price index            Price date  Average Price
0        GD Henry Hub  1/1/2016 12:00:00 AM          2.310
1  GD Houston ShipChl  1/1/2016 12:00:00 AM          2.290
2             GD Waha  1/1/2016 12:00:00 AM          2.395
3        GD Henry Hub  1/2/2016 12:00:00 AM          2.310
4  GD Houston ShipChl  1/2/2016 12:00:00 AM          2.290

In [227]:
##Want to pivot data
ng_prices_pivot = ng_prices.pivot(index = 'Price date', columns = 'Price index', values = 'Average Price')
ng_prices_pivot.head()

Price index           GD Henry Hub  GD Houston ShipChl  GD Waha
Price date
1/1/2016 12:00:00 AM         2.310               2.290    2.395
1/1/2017 12:00:00 AM         3.650               3.510    3.445
1/1/2018 12:00:00 AM         3.580               4.400    4.105
1/1/2019 12:00:00 AM         3.225               3.185    2.165
1/1/2020 12:00:00 AM         2.050               1.900    1.235

In [228]:
ng_prices_pivot.reset_index(inplace = True)
ng_prices_pivot.head()

Price index            Price date  GD Henry Hub  GD Houston ShipChl  GD Waha
0            1/1/2016 12:00:00 AM         2.310               2.290    2.395
1            1/1/2017 12:00:00 AM         3.650               3.510    3.445
2            1/1/2018 12:00:00 AM         3.580               4.400    4.105
3            1/1/2019 12:00:00 AM         3.225               3.185    2.165
4            1/1/2020 12:00:00 AM         2.050               1.900    1.235

In [229]:
## Ask vivek about this
ng_prices_pivot.index.name = None

In [230]:
ng_prices_pivot.head(50)

Price index             Price date  GD Henry Hub  GD Houston ShipChl  GD Waha
0             1/1/2016 12:00:00 AM         2.310               2.290    2.395
1             1/1/2017 12:00:00 AM         3.650               3.510    3.445
2             1/1/2018 12:00:00 AM         3.580               4.400    4.105
3             1/1/2019 12:00:00 AM         3.225               3.185    2.165
4             1/1/2020 12:00:00 AM         2.050               1.900    1.235
5             1/1/2021 12:00:00 AM         2.385               2.355    2.340
6            1/10/2016 12:00:00 AM         2.470               2.395    2.445
7            1/10/2017 12:00:00 AM         3.120                 NaN    2.890
8            1/10/2018 12:00:00 AM         2.900               2.900    2.390
9            1/10/2019 12:00:00 AM         2.905               2.820    2.055
10           1/10/2020 12:00:00 AM         2.005               1.910    0.650
11           1/10/2021 12:00:00 AM         2.725               2.705    2.640
12           1/11/2016 12:00:00 AM         2.470               2.395    2.445
13           1/11/2017 12:00:00 AM         3.210               3.150    3.030
14           1/11/2018 12:00:00 AM         3.105               3.085    2.530
15           1/11/2019 12:00:00 AM         2.950               2.815    1.990
16           1/11/2020 12:00:00 AM         2.055               1.975    0.505
17           1/11/2021 12:00:00 AM         2.725               2.705    2.640
18           1/12/2016 12:00:00 AM         2.525               2.420    2.400
19           1/12/2017 12:00:00 AM         3.275               3.190    3.080
20           1/12/2018 12:00:00 AM         3.235               3.300    2.815
21           1/12/2019 12:00:00 AM         2.880               2.915    1.815
22           1/12/2020 12:00:00 AM         2.055               1.975    0.505
23           1/12/2021 12:00:00 AM         2.645               2.655    2.615
24           1/13/2016 12:00:00 AM         2.385               2.285    2.240
25           1/13/2017 12:00:00 AM         3.325               3.195    3.070
26           1/13/2018 12:00:00 AM         4.015               4.085    3.365
27           1/13/2019 12:00:00 AM         2.880               2.915    1.815
28           1/13/2020 12:00:00 AM         2.055               1.975    0.505
29           1/13/2021 12:00:00 AM         2.825               2.845    2.700
30           1/14/2016 12:00:00 AM         2.305               2.245    2.175
31           1/14/2017 12:00:00 AM         3.365               3.240    3.180
32           1/14/2018 12:00:00 AM         4.015               4.085    3.365
33           1/14/2019 12:00:00 AM         2.880               2.915    1.815
34           1/14/2020 12:00:00 AM         2.070               1.980    0.700
35           1/14/2021 12:00:00 AM         2.750               2.730    2.610
36           1/15/2016 12:00:00 AM         2.195               2.150    2.150
37           1/15/2017 12:00:00 AM         3.365               3.240    3.180
38           1/15/2018 12:00:00 AM         4.015               4.085    3.365
39           1/15/2019 12:00:00 AM         3.360               3.285    2.215
40           1/15/2020 12:00:00 AM         2.120               2.030    0.655
41           1/15/2021 12:00:00 AM         2.735               2.735    2.580
42           1/16/2016 12:00:00 AM         2.190               2.115    2.115
43           1/16/2017 12:00:00 AM         3.365               3.240    3.180
44           1/16/2018 12:00:00 AM         4.015               4.085    3.365
45           1/16/2019 12:00:00 AM         3.515               3.460    2.310
46           1/16/2020 12:00:00 AM         1.980               1.900    0.605
47           1/16/2021 12:00:00 AM         2.785               2.715    2.560
48           1/17/2016 12:00:00 AM         2.190               2.115    2.115
49           1/17/2017 12:00:00 AM         3.365               3.240    3.180

# Modify DateTime to get consistent

In [231]:
#Need to make dates uniform accross all tables and fill in as necessary
#weather_data.info()
weather_data['DATE']= pd.to_datetime(weather_data['DATE'])

In [232]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44789 entries, 0 to 44788
Data columns (total 7 columns):
STATION      44789 non-null int64
DATE         44789 non-null datetime64[ns]
NAME         44789 non-null object
LATITUDE     44789 non-null float64
LONGITUDE    44789 non-null float64
TMP          44789 non-null float64
Zone         44789 non-null object
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 2.4+ MB

In [233]:
weather_data.head(15)

,STATION,DATE,NAME,LATITUDE,LONGITUDE,TMP,Zone
0,76393099999,2016-01-01 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,47.12,MONTERREY
1,76393099999,2016-01-01 18:00:00,"MONTERREY N.L., MX",25.733333,-100.3,46.76,MONTERREY
2,76393099999,2016-01-02 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY
3,76393099999,2016-01-02 21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,44.60,MONTERREY
4,76393099999,2016-01-03 03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY
5,76393099999,2016-01-03 06:00:00,"MONTERREY N.L., MX",25.733333,-100.3,43.52,MONTERREY
6,76393099999,2016-01-03 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,46.04,MONTERREY
7,76393099999,2016-01-04 03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,52.52,MONTERREY
8,76393099999,2016-01-04 06:00:00,"MONTERREY N.L., MX",25.733333,-100.3,51.44,MONTERREY
9,76393099999,2016-01-04 21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,52.52,MONTERREY
10,76393099999,2016-01-05 03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,48.20,MONTERREY
11,76393099999,2016-01-05 06:00:00,"MONTERREY N.L., MX",25.733333,-100.3,48.20,MONTERREY
12,76393099999,2016-01-05 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,50.00,MONTERREY
13,76393099999,2016-01-05 21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,55.40,MONTERREY
14,76393099999,2016-01-06 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,54.32,MONTERREY

In [234]:
ng_prices_pivot['Price date']= pd.to_datetime(ng_prices_pivot['Price date'])

In [235]:
ng_prices_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1895 entries, 0 to 1894
Data columns (total 4 columns):
Price date            1895 non-null datetime64[ns]
GD Henry Hub          1895 non-null float64
GD Houston ShipChl    1885 non-null float64
GD Waha               1895 non-null float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 59.3 KB

In [236]:
ng_prices_pivot.head(10)

Price index Price date  GD Henry Hub  GD Houston ShipChl  GD Waha
0           2016-01-01         2.310               2.290    2.395
1           2017-01-01         3.650               3.510    3.445
2           2018-01-01         3.580               4.400    4.105
3           2019-01-01         3.225               3.185    2.165
4           2020-01-01         2.050               1.900    1.235
5           2021-01-01         2.385               2.355    2.340
6           2016-01-10         2.470               2.395    2.445
7           2017-01-10         3.120                 NaN    2.890
8           2018-01-10         2.900               2.900    2.390
9           2019-01-10         2.905               2.820    2.055

In [237]:
distributed_prices['Date']= pd.to_datetime(distributed_prices['Date'])

In [238]:
distributed_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179227 entries, 0 to 179226
Data columns (total 7 columns):
Date              179227 non-null datetime64[ns]
Hour              179227 non-null int64
Zone              179227 non-null object
LMP               179227 non-null float64
Energy_LMP        179227 non-null float64
Loss_LMP          179227 non-null float64
Congestion_LMP    179227 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 9.6+ MB

In [239]:
distributed_prices.head(200)

,Date,Hour,Zone,LMP,Energy_LMP,Loss_LMP,Congestion_LMP
0,2016-02-05,20,MONTERREY,575.21,748.03,-62.02,-110.80
1,2016-02-05,20,VDM SUR,765.12,748.03,21.20,-4.11
2,2016-02-05,21,CHIHUAHUA,632.40,745.34,-74.92,-38.02
3,2016-02-05,21,GUADALAJARA,789.74,745.34,31.91,12.48
4,2016-02-05,21,MONTERREY,566.03,745.34,-58.33,-120.99
5,2016-02-05,21,VDM SUR,759.00,745.34,18.14,-4.49
6,2016-02-05,22,CHIHUAHUA,630.63,740.30,-67.07,-42.60
7,2016-02-05,22,GUADALAJARA,785.35,740.30,31.07,13.99
8,2016-02-05,22,MONTERREY,546.64,740.30,-58.11,-135.55
9,2016-02-05,22,VDM SUR,755.29,740.30,20.02,-5.03
10,2016-02-05,23,CHIHUAHUA,586.72,676.45,-65.95,-23.77
11,2016-02-05,23,GUADALAJARA,708.79,676.45,24.54,7.80
12,2016-02-05,23,MONTERREY,547.32,676.45,-53.56,-75.57
13,2016-02-05,23,VDM SUR,692.07,676.45,18.44,-2.81
14,2016-02-05,24,CHIHUAHUA,554.76,622.33,-67.57,0.00
15,2016-02-05,24,GUADALAJARA,640.90,622.34,18.56,0.00
16,2016-02-05,24,MONTERREY,575.14,622.34,-47.19,0.00
17,2016-02-05,24,VDM SUR,639.22,622.33,16.88,0.00
18,2016-02-06,1,CHIHUAHUA,590.27,676.79,-86.52,0.00
19,2016-02-06,1,GUADALAJARA,690.89,676.79,14.10,0.00
20,2016-02-06,1,MONTERREY,633.59,676.79,-43.19,0.00
21,2016-02-06,1,VDM SUR,691.27,676.79,14.48,0.00
22,2016-02-06,2,CHIHUAHUA,556.64,650.70,-94.05,0.00
23,2016-02-06,2,GUADALAJARA,658.65,650.70,7.96,0.00
24,2016-02-06,2,MONTERREY,604.41,650.70,-46.29,0.00
25,2016-02-06,2,VDM SUR,667.98,650.70,17.28,0.00
26,2016-02-06,3,CHIHUAHUA,519.41,598.45,-79.05,0.00
27,2016-02-06,3,GUADALAJARA,605.46,598.45,7.00,0.00
28,2016-02-06,3,MONTERREY,553.88,598.45,-44.58,0.00
29,2016-02-06,3,VDM SUR,614.87,598.46,16.41,0.00
...,...,...,...,...,...,...,...
170,2016-01-29,21,CHIHUAHUA,903.47,916.48,-63.08,50.07
171,2016-01-29,21,GUADALAJARA,952.06,916.48,31.10,4.48
172,2016-01-29,21,MONTERREY,848.11,916.48,-55.18,-13.20
173,2016-01-29,21,VDM SUR,939.15,916.48,22.98,-0.31
174,2016-01-29,22,CHIHUAHUA,1034.29,844.06,-63.71,253.94
175,2016-01-29,22,GUADALAJARA,886.29,844.06,30.48,11.76
176,2016-01-29,22,MONTERREY,750.96,844.06,-56.94,-36.16
177,2016-01-29,22,VDM SUR,866.49,844.06,23.30,-0.88
178,2016-01-29,23,CHIHUAHUA,819.30,761.70,-49.47,107.06
179,2016-01-29,23,GUADALAJARA,792.47,761.70,26.77,4.00
180,2016-01-29,23,MONTERREY,702.52,761.70,-46.62,-12.56
181,2016-02-06,19,CHIHUAHUA,568.99,640.86,-67.47,-4.39
182,2016-02-06,19,GUADALAJARA,663.79,640.86,21.25,1.68
183,2016-02-06,19,MONTERREY,577.14,640.86,-47.80,-15.92
184,2016-02-06,19,VDM SUR,653.54,640.86,13.27,-0.59
185,2016-02-06,20,CHIHUAHUA,597.54,679.16,-82.67,1.05
186,2016-02-06,20,GUADALAJARA,694.99,679.16,15.84,-0.01
187,2016-02-06,20,MONTERREY,621.66,679.16,-57.54,0.04
188,2016-02-06,20,VDM SUR,698.34,679.16,19.18,0.00
189,2016-02-06,21,CHIHUAHUA,555.10,649.99,-66.60,-28.30
190,2016-02-06,21,GUADALAJARA,685.45,649.99,24.61,10.85
191,2016-02-06,21,MONTERREY,498.08,649.99,-49.23,-102.68
192,2016-02-06,21,VDM SUR,661.69,649.99,15.50,-3.81
193,2016-02-06,22,CHIHUAHUA,613.89,748.78,-84.99,-49.91
194,2016-02-06,22,GUADALAJARA,793.11,748.78,25.20,19.12
195,2016-02-06,22,MONTERREY,507.57,748.78,-60.14,-181.08
196,2016-02-06,22,VDM SUR,760.84,748.78,18.76,-6.71
197,2016-02-06,23,CHIHUAHUA,547.71,644.60,-71.77,-25.13
198,2016-02-06,23,GUADALAJARA,673.53,644.60,19.31,9.62
199,2016-02-06,23,MONTERREY,500.79,644.60,-52.71,-91.11

In [240]:
#Separate datetime of weather data into date and hour
weather_data.head(15)

,STATION,DATE,NAME,LATITUDE,LONGITUDE,TMP,Zone
0,76393099999,2016-01-01 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,47.12,MONTERREY
1,76393099999,2016-01-01 18:00:00,"MONTERREY N.L., MX",25.733333,-100.3,46.76,MONTERREY
2,76393099999,2016-01-02 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY
3,76393099999,2016-01-02 21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,44.60,MONTERREY
4,76393099999,2016-01-03 03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY
5,76393099999,2016-01-03 06:00:00,"MONTERREY N.L., MX",25.733333,-100.3,43.52,MONTERREY
6,76393099999,2016-01-03 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,46.04,MONTERREY
7,76393099999,2016-01-04 03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,52.52,MONTERREY
8,76393099999,2016-01-04 06:00:00,"MONTERREY N.L., MX",25.733333,-100.3,51.44,MONTERREY
9,76393099999,2016-01-04 21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,52.52,MONTERREY
10,76393099999,2016-01-05 03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,48.20,MONTERREY
11,76393099999,2016-01-05 06:00:00,"MONTERREY N.L., MX",25.733333,-100.3,48.20,MONTERREY
12,76393099999,2016-01-05 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,50.00,MONTERREY
13,76393099999,2016-01-05 21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,55.40,MONTERREY
14,76393099999,2016-01-06 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,54.32,MONTERREY

In [241]:
weather_data['DATETIME'] = weather_data['DATE']
weather_data.head(15)

,STATION,DATE,NAME,LATITUDE,LONGITUDE,TMP,Zone,DATETIME
0,76393099999,2016-01-01 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,47.12,MONTERREY,2016-01-01 15:00:00
1,76393099999,2016-01-01 18:00:00,"MONTERREY N.L., MX",25.733333,-100.3,46.76,MONTERREY,2016-01-01 18:00:00
2,76393099999,2016-01-02 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY,2016-01-02 15:00:00
3,76393099999,2016-01-02 21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,44.60,MONTERREY,2016-01-02 21:00:00
4,76393099999,2016-01-03 03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY,2016-01-03 03:00:00
5,76393099999,2016-01-03 06:00:00,"MONTERREY N.L., MX",25.733333,-100.3,43.52,MONTERREY,2016-01-03 06:00:00
6,76393099999,2016-01-03 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,46.04,MONTERREY,2016-01-03 15:00:00
7,76393099999,2016-01-04 03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,52.52,MONTERREY,2016-01-04 03:00:00
8,76393099999,2016-01-04 06:00:00,"MONTERREY N.L., MX",25.733333,-100.3,51.44,MONTERREY,2016-01-04 06:00:00
9,76393099999,2016-01-04 21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,52.52,MONTERREY,2016-01-04 21:00:00
10,76393099999,2016-01-05 03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,48.20,MONTERREY,2016-01-05 03:00:00
11,76393099999,2016-01-05 06:00:00,"MONTERREY N.L., MX",25.733333,-100.3,48.20,MONTERREY,2016-01-05 06:00:00
12,76393099999,2016-01-05 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,50.00,MONTERREY,2016-01-05 15:00:00
13,76393099999,2016-01-05 21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,55.40,MONTERREY,2016-01-05 21:00:00
14,76393099999,2016-01-06 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,54.32,MONTERREY,2016-01-06 15:00:00

In [242]:
weather_data['Time'],weather_data['Date']= weather_data['DATETIME'].apply(lambda x:x.time()), weather_data['DATETIME'].apply(lambda x:x.date())
weather_data.head(15)

,STATION,DATE,NAME,LATITUDE,LONGITUDE,TMP,Zone,DATETIME,Time,Date
0,76393099999,2016-01-01 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,47.12,MONTERREY,2016-01-01 15:00:00,15:00:00,2016-01-01
1,76393099999,2016-01-01 18:00:00,"MONTERREY N.L., MX",25.733333,-100.3,46.76,MONTERREY,2016-01-01 18:00:00,18:00:00,2016-01-01
2,76393099999,2016-01-02 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY,2016-01-02 15:00:00,15:00:00,2016-01-02
3,76393099999,2016-01-02 21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,44.60,MONTERREY,2016-01-02 21:00:00,21:00:00,2016-01-02
4,76393099999,2016-01-03 03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY,2016-01-03 03:00:00,03:00:00,2016-01-03
5,76393099999,2016-01-03 06:00:00,"MONTERREY N.L., MX",25.733333,-100.3,43.52,MONTERREY,2016-01-03 06:00:00,06:00:00,2016-01-03
6,76393099999,2016-01-03 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,46.04,MONTERREY,2016-01-03 15:00:00,15:00:00,2016-01-03
7,76393099999,2016-01-04 03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,52.52,MONTERREY,2016-01-04 03:00:00,03:00:00,2016-01-04
8,76393099999,2016-01-04 06:00:00,"MONTERREY N.L., MX",25.733333,-100.3,51.44,MONTERREY,2016-01-04 06:00:00,06:00:00,2016-01-04
9,76393099999,2016-01-04 21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,52.52,MONTERREY,2016-01-04 21:00:00,21:00:00,2016-01-04
10,76393099999,2016-01-05 03:00:00,"MONTERREY N.L., MX",25.733333,-100.3,48.20,MONTERREY,2016-01-05 03:00:00,03:00:00,2016-01-05
11,76393099999,2016-01-05 06:00:00,"MONTERREY N.L., MX",25.733333,-100.3,48.20,MONTERREY,2016-01-05 06:00:00,06:00:00,2016-01-05
12,76393099999,2016-01-05 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,50.00,MONTERREY,2016-01-05 15:00:00,15:00:00,2016-01-05
13,76393099999,2016-01-05 21:00:00,"MONTERREY N.L., MX",25.733333,-100.3,55.40,MONTERREY,2016-01-05 21:00:00,21:00:00,2016-01-05
14,76393099999,2016-01-06 15:00:00,"MONTERREY N.L., MX",25.733333,-100.3,54.32,MONTERREY,2016-01-06 15:00:00,15:00:00,2016-01-06

In [243]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44789 entries, 0 to 44788
Data columns (total 10 columns):
STATION      44789 non-null int64
DATE         44789 non-null datetime64[ns]
NAME         44789 non-null object
LATITUDE     44789 non-null float64
LONGITUDE    44789 non-null float64
TMP          44789 non-null float64
Zone         44789 non-null object
DATETIME     44789 non-null datetime64[ns]
Time         44789 non-null object
Date         44789 non-null object
dtypes: datetime64[ns](2), float64(3), int64(1), object(4)
memory usage: 3.4+ MB

In [244]:
weather_data['Date']= pd.to_datetime(weather_data['Date'])
##weather_data['Time']= pd.to_datetime(weather_data['Time'])
weather_data = weather_data.drop(['DATE'], axis = 1)

In [245]:
weather_data.info()
weather_data.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44789 entries, 0 to 44788
Data columns (total 9 columns):
STATION      44789 non-null int64
NAME         44789 non-null object
LATITUDE     44789 non-null float64
LONGITUDE    44789 non-null float64
TMP          44789 non-null float64
Zone         44789 non-null object
DATETIME     44789 non-null datetime64[ns]
Time         44789 non-null object
Date         44789 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(1), object(3)
memory usage: 3.1+ MB

,STATION,NAME,LATITUDE,LONGITUDE,TMP,Zone,DATETIME,Time,Date
0,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,47.12,MONTERREY,2016-01-01 15:00:00,15:00:00,2016-01-01
1,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,46.76,MONTERREY,2016-01-01 18:00:00,18:00:00,2016-01-01
2,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY,2016-01-02 15:00:00,15:00:00,2016-01-02
3,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,44.60,MONTERREY,2016-01-02 21:00:00,21:00:00,2016-01-02
4,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY,2016-01-03 03:00:00,03:00:00,2016-01-03
5,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,43.52,MONTERREY,2016-01-03 06:00:00,06:00:00,2016-01-03
6,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,46.04,MONTERREY,2016-01-03 15:00:00,15:00:00,2016-01-03
7,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,52.52,MONTERREY,2016-01-04 03:00:00,03:00:00,2016-01-04
8,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,51.44,MONTERREY,2016-01-04 06:00:00,06:00:00,2016-01-04
9,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,52.52,MONTERREY,2016-01-04 21:00:00,21:00:00,2016-01-04
10,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,48.20,MONTERREY,2016-01-05 03:00:00,03:00:00,2016-01-05
11,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,48.20,MONTERREY,2016-01-05 06:00:00,06:00:00,2016-01-05
12,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,50.00,MONTERREY,2016-01-05 15:00:00,15:00:00,2016-01-05
13,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,55.40,MONTERREY,2016-01-05 21:00:00,21:00:00,2016-01-05
14,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,54.32,MONTERREY,2016-01-06 15:00:00,15:00:00,2016-01-06

In [246]:
weather_data['Hour'] = pd.to_datetime(weather_data['Time'], format='%H:%M:%S').dt.hour

In [247]:
weather_data.info()
weather_data.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44789 entries, 0 to 44788
Data columns (total 10 columns):
STATION      44789 non-null int64
NAME         44789 non-null object
LATITUDE     44789 non-null float64
LONGITUDE    44789 non-null float64
TMP          44789 non-null float64
Zone         44789 non-null object
DATETIME     44789 non-null datetime64[ns]
Time         44789 non-null object
Date         44789 non-null datetime64[ns]
Hour         44789 non-null int64
dtypes: datetime64[ns](2), float64(3), int64(2), object(3)
memory usage: 3.4+ MB

,STATION,NAME,LATITUDE,LONGITUDE,TMP,Zone,DATETIME,Time,Date,Hour
0,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,47.12,MONTERREY,2016-01-01 15:00:00,15:00:00,2016-01-01,15
1,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,46.76,MONTERREY,2016-01-01 18:00:00,18:00:00,2016-01-01,18
2,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY,2016-01-02 15:00:00,15:00:00,2016-01-02,15
3,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,44.60,MONTERREY,2016-01-02 21:00:00,21:00:00,2016-01-02,21
4,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY,2016-01-03 03:00:00,03:00:00,2016-01-03,3
5,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,43.52,MONTERREY,2016-01-03 06:00:00,06:00:00,2016-01-03,6
6,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,46.04,MONTERREY,2016-01-03 15:00:00,15:00:00,2016-01-03,15
7,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,52.52,MONTERREY,2016-01-04 03:00:00,03:00:00,2016-01-04,3
8,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,51.44,MONTERREY,2016-01-04 06:00:00,06:00:00,2016-01-04,6
9,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,52.52,MONTERREY,2016-01-04 21:00:00,21:00:00,2016-01-04,21
10,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,48.20,MONTERREY,2016-01-05 03:00:00,03:00:00,2016-01-05,3
11,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,48.20,MONTERREY,2016-01-05 06:00:00,06:00:00,2016-01-05,6
12,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,50.00,MONTERREY,2016-01-05 15:00:00,15:00:00,2016-01-05,15
13,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,55.40,MONTERREY,2016-01-05 21:00:00,21:00:00,2016-01-05,21
14,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,54.32,MONTERREY,2016-01-06 15:00:00,15:00:00,2016-01-06,15

# Merge DataFrames

In [248]:
df = pd.merge(distributed_prices, weather_data, how = 'left', on = ['Zone', 'Date','Hour'])

In [249]:
df.head(30)

,Date,Hour,Zone,LMP,Energy_LMP,Loss_LMP,Congestion_LMP,STATION,NAME,LATITUDE,LONGITUDE,TMP,DATETIME,Time
0,2016-02-05,20,MONTERREY,575.21,748.03,-62.02,-110.80,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,2016-02-05,20,VDM SUR,765.12,748.03,21.20,-4.11,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,2016-02-05,21,CHIHUAHUA,632.40,745.34,-74.92,-38.02,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,55.76,2016-02-05 21:00:00,21:00:00
3,2016-02-05,21,GUADALAJARA,789.74,745.34,31.91,12.48,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,2016-02-05,21,MONTERREY,566.03,745.34,-58.33,-120.99,7.639310e+10,"MONTERREY N.L., MX",25.733333,-100.300000,59.00,2016-02-05 21:00:00,21:00:00
5,2016-02-05,21,VDM SUR,759.00,745.34,18.14,-4.49,7.668010e+10,"MEXICO CENTRAL D.F., MX",19.400000,-99.183333,73.94,2016-02-05 21:00:00,21:00:00
6,2016-02-05,22,CHIHUAHUA,630.63,740.30,-67.07,-42.60,NaN,NaN,NaN,NaN,NaN,NaT,NaN
7,2016-02-05,22,GUADALAJARA,785.35,740.30,31.07,13.99,NaN,NaN,NaN,NaN,NaN,NaT,NaN
8,2016-02-05,22,MONTERREY,546.64,740.30,-58.11,-135.55,NaN,NaN,NaN,NaN,NaN,NaT,NaN
9,2016-02-05,22,VDM SUR,755.29,740.30,20.02,-5.03,NaN,NaN,NaN,NaN,NaN,NaT,NaN
10,2016-02-05,23,CHIHUAHUA,586.72,676.45,-65.95,-23.77,NaN,NaN,NaN,NaN,NaN,NaT,NaN
11,2016-02-05,23,GUADALAJARA,708.79,676.45,24.54,7.80,NaN,NaN,NaN,NaN,NaN,NaT,NaN
12,2016-02-05,23,MONTERREY,547.32,676.45,-53.56,-75.57,NaN,NaN,NaN,NaN,NaN,NaT,NaN
13,2016-02-05,23,VDM SUR,692.07,676.45,18.44,-2.81,NaN,NaN,NaN,NaN,NaN,NaT,NaN
14,2016-02-05,24,CHIHUAHUA,554.76,622.33,-67.57,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN
15,2016-02-05,24,GUADALAJARA,640.90,622.34,18.56,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN
16,2016-02-05,24,MONTERREY,575.14,622.34,-47.19,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN
17,2016-02-05,24,VDM SUR,639.22,622.33,16.88,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN
18,2016-02-06,1,CHIHUAHUA,590.27,676.79,-86.52,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN
19,2016-02-06,1,GUADALAJARA,690.89,676.79,14.10,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN
20,2016-02-06,1,MONTERREY,633.59,676.79,-43.19,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN
21,2016-02-06,1,VDM SUR,691.27,676.79,14.48,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN
22,2016-02-06,2,CHIHUAHUA,556.64,650.70,-94.05,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN
23,2016-02-06,2,GUADALAJARA,658.65,650.70,7.96,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN
24,2016-02-06,2,MONTERREY,604.41,650.70,-46.29,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN
25,2016-02-06,2,VDM SUR,667.98,650.70,17.28,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN
26,2016-02-06,3,CHIHUAHUA,519.41,598.45,-79.05,0.00,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,47.12,2016-02-06 03:00:00,03:00:00
27,2016-02-06,3,GUADALAJARA,605.46,598.45,7.00,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN
28,2016-02-06,3,MONTERREY,553.88,598.45,-44.58,0.00,7.639310e+10,"MONTERREY N.L., MX",25.733333,-100.300000,57.56,2016-02-06 03:00:00,03:00:00
29,2016-02-06,3,VDM SUR,614.87,598.46,16.41,0.00,7.668010e+10,"MEXICO CENTRAL D.F., MX",19.400000,-99.183333,65.12,2016-02-06 03:00:00,03:00:00

In [250]:
ng_prices_pivot.head(10)

Price index Price date  GD Henry Hub  GD Houston ShipChl  GD Waha
0           2016-01-01         2.310               2.290    2.395
1           2017-01-01         3.650               3.510    3.445
2           2018-01-01         3.580               4.400    4.105
3           2019-01-01         3.225               3.185    2.165
4           2020-01-01         2.050               1.900    1.235
5           2021-01-01         2.385               2.355    2.340
6           2016-01-10         2.470               2.395    2.445
7           2017-01-10         3.120                 NaN    2.890
8           2018-01-10         2.900               2.900    2.390
9           2019-01-10         2.905               2.820    2.055

In [251]:
ng_prices_pivot = ng_prices_pivot.rename(columns={'Price date': 'Date'})
ng_prices_pivot.head(10)

Price index       Date  GD Henry Hub  GD Houston ShipChl  GD Waha
0           2016-01-01         2.310               2.290    2.395
1           2017-01-01         3.650               3.510    3.445
2           2018-01-01         3.580               4.400    4.105
3           2019-01-01         3.225               3.185    2.165
4           2020-01-01         2.050               1.900    1.235
5           2021-01-01         2.385               2.355    2.340
6           2016-01-10         2.470               2.395    2.445
7           2017-01-10         3.120                 NaN    2.890
8           2018-01-10         2.900               2.900    2.390
9           2019-01-10         2.905               2.820    2.055

In [252]:
df = df.merge(ng_prices_pivot, how = 'left', on = ['Date'])

In [253]:
df.head(30)

,Date,Hour,Zone,LMP,Energy_LMP,Loss_LMP,Congestion_LMP,STATION,NAME,LATITUDE,LONGITUDE,TMP,DATETIME,Time,GD Henry Hub,GD Houston ShipChl,GD Waha
0,2016-02-05,20,MONTERREY,575.21,748.03,-62.02,-110.80,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
1,2016-02-05,20,VDM SUR,765.12,748.03,21.20,-4.11,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
2,2016-02-05,21,CHIHUAHUA,632.40,745.34,-74.92,-38.02,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,55.76,2016-02-05 21:00:00,21:00:00,2.045,1.99,1.94
3,2016-02-05,21,GUADALAJARA,789.74,745.34,31.91,12.48,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
4,2016-02-05,21,MONTERREY,566.03,745.34,-58.33,-120.99,7.639310e+10,"MONTERREY N.L., MX",25.733333,-100.300000,59.00,2016-02-05 21:00:00,21:00:00,2.045,1.99,1.94
5,2016-02-05,21,VDM SUR,759.00,745.34,18.14,-4.49,7.668010e+10,"MEXICO CENTRAL D.F., MX",19.400000,-99.183333,73.94,2016-02-05 21:00:00,21:00:00,2.045,1.99,1.94
6,2016-02-05,22,CHIHUAHUA,630.63,740.30,-67.07,-42.60,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
7,2016-02-05,22,GUADALAJARA,785.35,740.30,31.07,13.99,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
8,2016-02-05,22,MONTERREY,546.64,740.30,-58.11,-135.55,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
9,2016-02-05,22,VDM SUR,755.29,740.30,20.02,-5.03,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
10,2016-02-05,23,CHIHUAHUA,586.72,676.45,-65.95,-23.77,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
11,2016-02-05,23,GUADALAJARA,708.79,676.45,24.54,7.80,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
12,2016-02-05,23,MONTERREY,547.32,676.45,-53.56,-75.57,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
13,2016-02-05,23,VDM SUR,692.07,676.45,18.44,-2.81,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
14,2016-02-05,24,CHIHUAHUA,554.76,622.33,-67.57,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
15,2016-02-05,24,GUADALAJARA,640.90,622.34,18.56,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
16,2016-02-05,24,MONTERREY,575.14,622.34,-47.19,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
17,2016-02-05,24,VDM SUR,639.22,622.33,16.88,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.99,1.94
18,2016-02-06,1,CHIHUAHUA,590.27,676.79,-86.52,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.02,1.94
19,2016-02-06,1,GUADALAJARA,690.89,676.79,14.10,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.02,1.94
20,2016-02-06,1,MONTERREY,633.59,676.79,-43.19,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.02,1.94
21,2016-02-06,1,VDM SUR,691.27,676.79,14.48,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.02,1.94
22,2016-02-06,2,CHIHUAHUA,556.64,650.70,-94.05,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.02,1.94
23,2016-02-06,2,GUADALAJARA,658.65,650.70,7.96,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.02,1.94
24,2016-02-06,2,MONTERREY,604.41,650.70,-46.29,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.02,1.94
25,2016-02-06,2,VDM SUR,667.98,650.70,17.28,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.02,1.94
26,2016-02-06,3,CHIHUAHUA,519.41,598.45,-79.05,0.00,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,47.12,2016-02-06 03:00:00,03:00:00,2.085,2.02,1.94
27,2016-02-06,3,GUADALAJARA,605.46,598.45,7.00,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.02,1.94
28,2016-02-06,3,MONTERREY,553.88,598.45,-44.58,0.00,7.639310e+10,"MONTERREY N.L., MX",25.733333,-100.300000,57.56,2016-02-06 03:00:00,03:00:00,2.085,2.02,1.94
29,2016-02-06,3,VDM SUR,614.87,598.46,16.41,0.00,7.668010e+10,"MEXICO CENTRAL D.F., MX",19.400000,-99.183333,65.12,2016-02-06 03:00:00,03:00:00,2.085,2.02,1.94

# Fill in Data

In [254]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Hour,179227.0,1.250073e+01,6.922357e+00,1.000000e+00,7.000000e+00,1.300000e+01,1.900000e+01,2.500000e+01
LMP,179227.0,1.054365e+03,7.483315e+02,-8.904000e+01,5.670300e+02,8.496500e+02,1.335270e+03,1.315906e+04
Energy_LMP,179227.0,1.098577e+03,6.680454e+02,-1.000000e-02,6.207200e+02,9.107700e+02,1.408700e+03,1.175489e+04
Loss_LMP,179227.0,-1.893369e+01,1.032898e+02,-1.533570e+03,-6.857000e+01,7.180000e+00,3.628000e+01,1.796850e+03
Congestion_LMP,179227.0,-2.527867e+01,3.166450e+02,-4.107670e+03,-1.466000e+01,0.000000e+00,0.000000e+00,1.074447e+04
STATION,38069.0,7.647023e+10,1.855735e+08,7.622510e+10,7.622510e+10,7.639310e+10,7.661210e+10,7.668010e+10
LATITUDE,38069.0,2.373830e+01,3.839310e+00,1.940000e+01,2.066667e+01,2.573333e+01,2.863333e+01,2.863333e+01
LONGITUDE,38069.0,-1.024896e+02,2.756889e+00,-1.060833e+02,-1.060833e+02,-1.033833e+02,-1.003000e+02,-9.918333e+01
TMP,38069.0,7.190166e+01,8.316181e+01,3.200000e+01,5.972000e+01,6.800000e+01,7.664000e+01,1.831820e+03
GD Henry Hub,179227.0,2.655008e+00,8.607943e-01,1.335000e+00,2.215000e+00,2.710000e+00,2.940000e+00,2.360500e+01
GD Houston ShipChl,178267.0,3.413529e+00,1.421905e+01,1.380000e+00,2.165000e+00,2.690000e+00,2.975000e+00,4.000000e+02
GD Waha,179227.0,2.276758e+00,8.674037e+00,-5.790000e+00,1.275000e+00,1.910000e+00,2.565000e+00,2.087900e+02

In [255]:
df.loc[df.Zone == 'CHIHUAHUA']

,Date,Hour,Zone,LMP,Energy_LMP,Loss_LMP,Congestion_LMP,STATION,NAME,LATITUDE,LONGITUDE,TMP,DATETIME,Time,GD Henry Hub,GD Houston ShipChl,GD Waha
2,2016-02-05,21,CHIHUAHUA,632.40,745.34,-74.92,-38.02,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,55.76,2016-02-05 21:00:00,21:00:00,2.045,1.990,1.94
6,2016-02-05,22,CHIHUAHUA,630.63,740.30,-67.07,-42.60,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.990,1.94
10,2016-02-05,23,CHIHUAHUA,586.72,676.45,-65.95,-23.77,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.990,1.94
14,2016-02-05,24,CHIHUAHUA,554.76,622.33,-67.57,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.045,1.990,1.94
18,2016-02-06,1,CHIHUAHUA,590.27,676.79,-86.52,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.020,1.94
22,2016-02-06,2,CHIHUAHUA,556.64,650.70,-94.05,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.020,1.94
26,2016-02-06,3,CHIHUAHUA,519.41,598.45,-79.05,0.00,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,47.12,2016-02-06 03:00:00,03:00:00,2.085,2.020,1.94
30,2016-02-06,4,CHIHUAHUA,471.82,539.77,-67.94,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.020,1.94
34,2016-02-06,5,CHIHUAHUA,453.84,518.12,-64.28,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.020,1.94
38,2016-02-06,6,CHIHUAHUA,474.78,548.10,-73.32,0.00,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,35.24,2016-02-06 06:00:00,06:00:00,2.085,2.020,1.94
42,2016-02-06,7,CHIHUAHUA,517.67,597.50,-79.83,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.020,1.94
46,2016-02-06,8,CHIHUAHUA,548.71,643.92,-95.20,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.020,1.94
50,2016-02-06,9,CHIHUAHUA,585.44,669.34,-90.14,6.24,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,33.08,2016-02-06 09:00:00,09:00:00,2.085,2.020,1.94
54,2016-02-06,10,CHIHUAHUA,586.76,652.41,-71.94,6.29,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.020,1.94
58,2016-02-06,11,CHIHUAHUA,653.81,734.14,-85.22,4.89,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.020,1.94
62,2016-02-06,12,CHIHUAHUA,661.66,727.41,-73.78,8.03,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,38.12,2016-02-06 12:00:00,12:00:00,2.085,2.020,1.94
66,2016-02-06,13,CHIHUAHUA,599.08,683.07,-87.04,3.06,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.020,1.94
70,2016-02-06,14,CHIHUAHUA,616.55,688.79,-72.45,0.21,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.020,1.94
74,2016-02-06,15,CHIHUAHUA,590.54,655.37,-64.83,0.00,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,32.00,2016-02-06 15:00:00,15:00:00,2.085,2.020,1.94
78,2016-02-06,16,CHIHUAHUA,573.57,655.00,-81.43,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.020,1.94
82,2016-02-06,17,CHIHUAHUA,582.17,661.33,-79.16,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.085,2.020,1.94
86,2016-02-06,18,CHIHUAHUA,583.77,678.80,-83.33,-11.69,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,52.88,2016-02-06 18:00:00,18:00:00,2.085,2.020,1.94
90,2016-01-29,1,CHIHUAHUA,726.79,773.97,-40.49,-6.69,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.120,2.105,2.00
94,2016-01-29,2,CHIHUAHUA,551.44,578.12,-23.34,-3.35,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.120,2.105,2.00
98,2016-01-29,3,CHIHUAHUA,493.40,512.81,-16.81,-2.60,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,46.40,2016-01-29 03:00:00,03:00:00,2.120,2.105,2.00
102,2016-01-29,4,CHIHUAHUA,461.63,479.40,-15.87,-1.90,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.120,2.105,2.00
106,2016-01-29,5,CHIHUAHUA,477.28,499.58,-19.97,-2.34,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.120,2.105,2.00
110,2016-01-29,6,CHIHUAHUA,520.00,547.61,-24.17,-3.44,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,43.16,2016-01-29 06:00:00,06:00:00,2.120,2.105,2.00
114,2016-01-29,7,CHIHUAHUA,669.92,730.01,-52.95,-7.13,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.120,2.105,2.00
118,2016-01-29,8,CHIHUAHUA,714.56,781.42,-48.73,-18.13,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.120,2.105,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179107,2020-07-03,14,CHIHUAHUA,400.25,457.25,-57.00,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179111,2020-07-03,15,CHIHUAHUA,428.69,483.04,-48.79,-5.56,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,79.16,2020-07-03 15:00:00,15:00:00,1.530,1.520,0.96
179115,2020-07-03,16,CHIHUAHUA,442.39,481.84,-39.45,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179119,2020-07-03,17,CHIHUAHUA,420.75,469.92,-37.29,-11.88,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179123,2020-07-03,18,CHIHUAHUA,432.81,478.56,-38.14,-7.61,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,88.52,2020-07-03 18:00:00,18:00:00,1.530,1.520,0.96
179127,2020-07-03,19,CHIHUAHUA,417.69,463.70,-46.02,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179131,2020-07-03,20,CHIHUAHUA,414.93,456.78,-41.84,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179135,2020-07-03,21,CHIHUAHUA,462.31,487.60,-25.29,0.00,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,93.20,2020-07-03 21:00:00,21:00:00,1.530,1.520,0.96
179139,2020-07-03,22,CHIHUAHUA,471.40,490.67,-19.27,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179143,2020-07-03,23,CHIHUAHUA,483.45,490.79,-7.34,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179147,2020-07-03,24,CHIHUAHUA,467.15,474.57,-7.42,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179151,2020-07-04,1,CHIHUAHUA,459.44,461.26,-1.82,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179155,2020-07-04,2,CHIHUAHUA,415.66,431.60,-15.95,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179159,2020-07-04,3,CHIHUAHUA,405.25,425.36,-20.11,0.00,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,72.32,2020-07-04 03:00:00,03:00:00,1.530,1.520,0.96
179163,2020-07-04,4,CHIHUAHUA,428.14,452.68,-24.54,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179167,2020-07-04,5,CHIHUAHUA,424.34,446.32,-21.98,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179171,2020-07-04,6,CHIHUAHUA,398.58,437.09,-38.51,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179175,2020-07-04,7,CHIHUAHUA,399.24,435.16,-35.92,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179179,2020-07-04,8,CHIHUAHUA,394.86,440.46,-45.60,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179183,2020-07-04,9,CHIHUAHUA,357.77,413.01,-55.24,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179187,2020-07-04,10,CHIHUAHUA,346.79,410.43,-63.64,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179191,2020-07-04,11,CHIHUAHUA,341.20,409.89,-68.70,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179195,2020-07-04,12,CHIHUAHUA,343.37,410.97,-67.60,0.00,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,67.28,2020-07-04 12:00:00,12:00:00,1.530,1.520,0.96
179199,2020-07-04,13,CHIHUAHUA,363.38,423.96,-60.58,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179203,2020-07-04,14,CHIHUAHUA,362.60,417.63,-55.03,0.00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179207,2020-07-04,15,CHIHUAHUA,360.68,412.60,-51.93,0.00,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,79.88,2020-07-04 15:00:00,15:00:00,1.530,1.520,0.96
179211,2020-07-04,16,CHIHUAHUA,370.44,430.60,-54.22,-5.94,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179215,2020-07-04,17,CHIHUAHUA,370.40,435.18,-50.02,-14.76,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96
179219,2020-07-04,18,CHIHUAHUA,374.78,439.73,-52.07,-12.88,7.622510e+10,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,86.72,2020-07-04 18:00:00,18:00:00,1.530,1.520,0.96
179223,2020-07-04,19,CHIHUAHUA,370.69,428.14,-47.44,-10.02,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1.530,1.520,0.96

In [256]:
weather_data.head()

,STATION,NAME,LATITUDE,LONGITUDE,TMP,Zone,DATETIME,Time,Date,Hour
0,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,47.12,MONTERREY,2016-01-01 15:00:00,15:00:00,2016-01-01,15
1,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,46.76,MONTERREY,2016-01-01 18:00:00,18:00:00,2016-01-01,18
2,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY,2016-01-02 15:00:00,15:00:00,2016-01-02,15
3,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,44.60,MONTERREY,2016-01-02 21:00:00,21:00:00,2016-01-02,21
4,76393099999,"MONTERREY N.L., MX",25.733333,-100.3,42.80,MONTERREY,2016-01-03 03:00:00,03:00:00,2016-01-03,3

In [257]:
weather_data_station = weather_data.drop(['DATETIME','Time','TMP','Date','Hour'], axis = 1)

In [264]:
weather_data_station.head()

       STATION                NAME   LATITUDE  LONGITUDE       Zone
0  76393099999  MONTERREY N.L., MX  25.733333     -100.3  MONTERREY
1  76393099999  MONTERREY N.L., MX  25.733333     -100.3  MONTERREY
2  76393099999  MONTERREY N.L., MX  25.733333     -100.3  MONTERREY
3  76393099999  MONTERREY N.L., MX  25.733333     -100.3  MONTERREY
4  76393099999  MONTERREY N.L., MX  25.733333     -100.3  MONTERREY

In [267]:
weather_data_station = weather_data_station.drop_duplicates()
weather_data_station.head()

,STATION,NAME,LATITUDE,LONGITUDE,Zone
0,76393099999,"MONTERREY N.L., MX",25.733333,-100.300000,MONTERREY
9622,76680099999,"MEXICO CENTRAL D.F., MX",19.400000,-99.183333,VDM SUR
20363,76612099999,"GUADALAJARA JAL., MX",20.666667,-103.383333,GUADALAJARA
31866,76225099999,"CHIHUAHUA CHIH., MX",28.633333,-106.083333,CHIHUAHUA

In [270]:
df_nostation = df.drop(['STATION','NAME','LATITUDE','LONGITUDE'], axis = 1)

In [271]:
df_filled = pd.merge(df_nostation, weather_data_station, how = 'left', on = ['Zone'])

In [273]:
df_filled = df_filled.drop(['DATETIME','Time'], axis = 1)

In [275]:
df_filled.head(20)

,Date,Hour,Zone,LMP,Energy_LMP,Loss_LMP,Congestion_LMP,TMP,GD Henry Hub,GD Houston ShipChl,GD Waha,STATION,NAME,LATITUDE,LONGITUDE
0,2016-02-05,20,MONTERREY,575.21,748.03,-62.02,-110.80,NaN,2.045,1.99,1.94,76393099999,"MONTERREY N.L., MX",25.733333,-100.300000
1,2016-02-05,20,VDM SUR,765.12,748.03,21.20,-4.11,NaN,2.045,1.99,1.94,76680099999,"MEXICO CENTRAL D.F., MX",19.400000,-99.183333
2,2016-02-05,21,CHIHUAHUA,632.40,745.34,-74.92,-38.02,55.76,2.045,1.99,1.94,76225099999,"CHIHUAHUA CHIH., MX",28.633333,-106.083333
3,2016-02-05,21,GUADALAJARA,789.74,745.34,31.91,12.48,NaN,2.045,1.99,1.94,76612099999,"GUADALAJARA JAL., MX",20.666667,-103.383333
4,2016-02-05,21,MONTERREY,566.03,745.34,-58.33,-120.99,59.00,2.045,1.99,1.94,76393099999,"MONTERREY N.L., MX",25.733333,-100.300000
5,2016-02-05,21,VDM SUR,759.00,745.34,18.14,-4.49,73.94,2.045,1.99,1.94,76680099999,"MEXICO CENTRAL D.F., MX",19.400000,-99.183333
6,2016-02-05,22,CHIHUAHUA,630.63,740.30,-67.07,-42.60,NaN,2.045,1.99,1.94,76225099999,"CHIHUAHUA CHIH., MX",28.633333,-106.083333
7,2016-02-05,22,GUADALAJARA,785.35,740.30,31.07,13.99,NaN,2.045,1.99,1.94,76612099999,"GUADALAJARA JAL., MX",20.666667,-103.383333
8,2016-02-05,22,MONTERREY,546.64,740.30,-58.11,-135.55,NaN,2.045,1.99,1.94,76393099999,"MONTERREY N.L., MX",25.733333,-100.300000
9,2016-02-05,22,VDM SUR,755.29,740.30,20.02,-5.03,NaN,2.045,1.99,1.94,76680099999,"MEXICO CENTRAL D.F., MX",19.400000,-99.183333
10,2016-02-05,23,CHIHUAHUA,586.72,676.45,-65.95,-23.77,NaN,2.045,1.99,1.94,76225099999,"CHIHUAHUA CHIH., MX",28.633333,-106.083333
11,2016-02-05,23,GUADALAJARA,708.79,676.45,24.54,7.80,NaN,2.045,1.99,1.94,76612099999,"GUADALAJARA JAL., MX",20.666667,-103.383333
12,2016-02-05,23,MONTERREY,547.32,676.45,-53.56,-75.57,NaN,2.045,1.99,1.94,76393099999,"MONTERREY N.L., MX",25.733333,-100.300000
13,2016-02-05,23,VDM SUR,692.07,676.45,18.44,-2.81,NaN,2.045,1.99,1.94,76680099999,"MEXICO CENTRAL D.F., MX",19.400000,-99.183333
14,2016-02-05,24,CHIHUAHUA,554.76,622.33,-67.57,0.00,NaN,2.045,1.99,1.94,76225099999,"CHIHUAHUA CHIH., MX",28.633333,-106.083333
15,2016-02-05,24,GUADALAJARA,640.90,622.34,18.56,0.00,NaN,2.045,1.99,1.94,76612099999,"GUADALAJARA JAL., MX",20.666667,-103.383333
16,2016-02-05,24,MONTERREY,575.14,622.34,-47.19,0.00,NaN,2.045,1.99,1.94,76393099999,"MONTERREY N.L., MX",25.733333,-100.300000
17,2016-02-05,24,VDM SUR,639.22,622.33,16.88,0.00,NaN,2.045,1.99,1.94,76680099999,"MEXICO CENTRAL D.F., MX",19.400000,-99.183333
18,2016-02-06,1,CHIHUAHUA,590.27,676.79,-86.52,0.00,NaN,2.085,2.02,1.94,76225099999,"CHIHUAHUA CHIH., MX",28.633333,-106.083333
19,2016-02-06,1,GUADALAJARA,690.89,676.79,14.10,0.00,NaN,2.085,2.02,1.94,76612099999,"GUADALAJARA JAL., MX",20.666667,-103.383333

In [277]:
df_filled.loc[df_filled.Zone == 'CHIHUAHUA'].describe().T

,count,mean,std,min,25%,50%,75%,max
Hour,44807.0,1.250077e+01,6.922418e+00,1.000000e+00,7.000000e+00,1.300000e+01,1.900000e+01,2.500000e+01
LMP,44807.0,9.721158e+02,8.937482e+02,-8.904000e+01,4.795400e+02,7.168600e+02,1.185065e+03,1.315906e+04
Energy_LMP,44807.0,1.098486e+03,6.678241e+02,-1.000000e-02,6.207250e+02,9.107700e+02,1.408695e+03,1.175488e+04
Loss_LMP,44807.0,-8.152887e+01,1.460296e+02,-1.533570e+03,-1.467500e+02,-8.354000e+01,-2.848000e+01,1.796850e+03
Congestion_LMP,44807.0,-4.484182e+01,5.157269e+02,-4.107670e+03,-1.248750e+02,-1.900000e-01,0.000000e+00,1.074447e+04
TMP,10990.0,7.138474e+01,7.839616e+01,3.200000e+01,5.828000e+01,6.908000e+01,7.880000e+01,1.831820e+03
GD Henry Hub,44807.0,2.655005e+00,8.608003e-01,1.335000e+00,2.215000e+00,2.710000e+00,2.940000e+00,2.360500e+01
GD Houston ShipChl,44567.0,3.413521e+00,1.421913e+01,1.380000e+00,2.165000e+00,2.690000e+00,2.975000e+00,4.000000e+02
GD Waha,44807.0,2.276757e+00,8.674085e+00,-5.790000e+00,1.275000e+00,1.910000e+00,2.565000e+00,2.087900e+02
STATION,44807.0,7.622510e+10,0.000000e+00,7.622510e+10,7.622510e+10,7.622510e+10,7.622510e+10,7.622510e+10
LATITUDE,44807.0,2.863333e+01,6.394956e-12,2.863333e+01,2.863333e+01,2.863333e+01,2.863333e+01,2.863333e+01
LONGITUDE,44807.0,-1.060833e+02,2.086177e-11,-1.060833e+02,-1.060833e+02,-1.060833e+02,-1.060833e+02,-1.060833e+02

In [186]:
# save the data to a new csv file
datapath = r"C:\Users\Zach Barrera\Documents\Zach\Springboard\Springboard\MexicoPowerPrices"
datapath_price_data = os.path.join(datapath, 'price_data_cleaned.csv')
if not os.path.exists(datapath_price_data):
    df.to_csv(datapath_price_data, index=False)